<div class="sessao-destaque">

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-8">
        <div class="chamada mb-4">
          <strong>Tecnologia e inteligência regulatória</strong>
          para
          <strong>remodelar</strong>
          a incidência política da sociedade civil.
        </div>
        <div class="row g-0">
          <div class="col-6">
            <div class="pe-4">
              A nossa missão é diminuir a assimetria no acesso ao Parlamento, decifrar os códigos do complexo processo legislativo e facilitar o entendimento sobre tramitação de matérias e ações parlamentares.
            </div>
          </div>
          <div class="col-6">
            Mais que um simples monitoramento, aplicamos análise de dados e aprendizado de máquina para oferecer produtos e serviços capazes de apresentar os diferentes ângulos do debate público e revelar os meandros do processo legislativo.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="sessao">
  <div class="container">
    <h2 class="titulo text-center">Nossos produtos</h2>
    <hr class="hr-titulo">
    <div class="row">
      <div class="col-sm- col-md-6 col-lg-4">
        <h3 class="mb-3">Parlametria</h3>
        <p>
          Traduz, de forma simples e didática, por meio de painéis temáticos, a tramitação das proposições legislativas, as votações e a atuação dos parlamentares em cada assunto. Além disso, apresenta instrumentos que medem a dinâmica do processo legislativo e a incidência dos grupos de interesse sobre o Parlamento.
        </p>
        <p>
          Visite o Parlametria e conheça também os painéis Direitos Humanos, Migração e Refúgio, Reforma Administrativa, Socioambiental e Transparência e Integridade.
        </p>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="card mb-4">
          <img src="assets/img/capa-reforma-tributaria.png" class="card-img-top" alt="Reforma tributária">
          <div class="card-body text-center">
            <h5 class="card-title">Reforma Tributária</h5>
            <p class="card-text">Painel sobre a discussão atual da reforma do sistema tributário brasileiro, com destaque para o posicionamento dos parlamentares e a tramitação dos projetos relacionados ao tema.</p>
            <a href="#" class="btn btn-outline-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="card">
          <img src="assets/img/capa-reforma-tributaria.png" class="card-img-top" alt="Reforma tributária">
          <div class="card-body text-center">
            <h5 class="card-title">Licenciamento Ambiental</h5>
            <p class="card-text">Acompanhamos as proposições legislativas referentes às normas de licenciamento ambiental e questões correlatas, como agronegócio e regulamentação fundiária, entre outras.</p>
            <a href="#" class="btn btn-outline-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="assets/img/capa-relatorios.png" class="card-img-top" alt="Reforma tributária">
          <div class="card-body">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">Produzimos estudos setoriais sobre temas específicos, como o Bianuário Socioambiental do Congresso Nacional, que apresenta análises da primeira metade da legislatura 2019-22.</p>
            <div class="text-end">
              <a href="#" class="btn btn-link">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="assets/img/capa-boletins.png" class="card-img-top" alt="Reforma tributária">
          <div class="card-body">
            <h5 class="card-title">Boletins</h5>
            <p class="card-text">Produzimos boletins periódicos, baseados em dados e insights, de forma customizada, conforme as diferentes demandas.</p>
            <div class="text-end">
              <a href="#" class="btn btn-link">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
