<section
  id="inicio"
  class="sessao-destaque">

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-8">
        <div class="chamada mb-4">
          <strong>Tecnologia e inteligência regulatória</strong>
          para
          <strong>remodelar</strong>
          a incidência política da sociedade civil.
        </div>
        <div class="row g-0">
          <div class="col-md-6">
            <div class="me-4 mb-4">
              A nossa missão é diminuir a assimetria no acesso ao Parlamento, decifrar os códigos do complexo processo legislativo e facilitar o entendimento sobre tramitação de matérias e ações parlamentares.
            </div>
          </div>
          <div class="col-md-6">
            Mais que um simples monitoramento, aplicamos análise de dados e aprendizado de máquina para oferecer produtos e serviços capazes de apresentar os diferentes ângulos do debate público e revelar os meandros do processo legislativo.
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section
  id="produtos"
  class="sessao sessao-b">
  <div class="container">
    <h2 class="titulo text-center">Nossos produtos</h2>
    <hr class="hr-titulo">
    <div class="row">
      <div class="col-sm- col-md-6 col-lg-4">
        <h3 class="mb-3">Parlametria</h3>
        <p>
          Traduz, de forma simples e didática, por meio de painéis temáticos, a tramitação das proposições legislativas, as votações e a atuação dos parlamentares em cada assunto. Além disso, apresenta instrumentos que medem a dinâmica do processo legislativo e a incidência dos grupos de interesse sobre o Parlamento.
        </p>
        <p>
          Visite o Parlametria e conheça também os painéis Direitos Humanos, Migração e Refúgio, Reforma Administrativa, Socioambiental e Transparência e Integridade.
        </p>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="card mb-4">
          <img
            src="assets/img/capa-reforma-tributaria.png"
            class="card-img-top"
            alt="Reforma tributária">
          <div class="card-body text-center">
            <h5 class="card-title card-titulo">Reforma Tributária</h5>
            <p class="card-text card-texto">
              Painel sobre a discussão atual da reforma do sistema tributário brasileiro, com destaque para o posicionamento dos parlamentares e a tramitação dos projetos relacionados ao tema.
            </p>
            <a
              href="#"
              class="btn btn-outline-primary">
              Acessar
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-4">
        <div class="card">
          <img
            src="assets/img/capa-reforma-tributaria.png"
            class="card-img-top"
            alt="Reforma tributária">
          <div class="card-body text-center">
            <h5 class="card-title card-titulo">Licenciamento Ambiental</h5>
            <p class="card-text card-texto">
              Acompanhamos as proposições legislativas referentes às normas de licenciamento ambiental e questões correlatas, como agronegócio e regulamentação fundiária, entre outras.
            </p>
            <a
              href="#"
              class="btn btn-outline-primary">
              Acessar
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img
            src="assets/img/capa-relatorios.png"
            class="card-img-top"
            alt="Reforma tributária">
          <div class="card-body">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">
              Produzimos estudos setoriais sobre temas específicos, como o Bianuário Socioambiental do Congresso Nacional, que apresenta análises da primeira metade da legislatura 2019-22.
            </p>
            <div class="text-end">
              <a
                href="#"
                class="btn btn-link">
                Saiba mais
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img
            src="assets/img/capa-boletins.png"
            class="card-img-top"
            alt="Reforma tributária">
          <div class="card-body">
            <h5 class="card-title">Boletins</h5>
            <p class="card-text">
              Produzimos boletins periódicos, baseados em dados e insights, de forma customizada, conforme as diferentes demandas.
            </p>
            <div class="text-end">
              <a
                href="#"
                class="btn btn-link">
                Saiba mais
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="sobre"
  class="sessao sessao-b">
  <div class="container">
    <h2 class="titulo text-center">Sobre nós</h2>
    <hr class="hr-titulo">
    <p class="destaque text-info">
      Olá, somos a Dado Capital, uma organização de impacto social que conjuga inovações tecnológicas com empoderamento cívico para fortalecer o espaço democrático.
    </p>
    <div class="row text-info">
      <div class="col-md-6">
        <p>
          Nossa história começa em São Paulo, 2016, quando nossos fundadores - Saulo Porto, Cesar Taurion, Michael Soares, José Menezes e Jasmin Eymery - apresentaram projeto que foi selecionado pelo programa de aceleração da StartupFarm. Nos primeiros anos, firmamos parcerias estratégicas de pesquisa e desenvolvimento com as universidades federais de Campina Grande e Paraíba; passamos a integrar a Rede Advocacy Colaborativo (RAC) e lançamos o projeto Voz Ativa - plataforma de “match” eleitoral, que auxiliou os eleitores na escolha dos seus deputados federais nas eleições de 2018.
        </p>
        <p>
          Em 2019, fomos acelerados também pela Din4mo, empresa especializada em negócios de impacto, quando incorporamos novos instrumentos de gestão e uma visão ampliada do mercado. Com nossos primeiros produtos, o Leg.go e o Perfil Parlamentar, aprimoramos o uso do aprendizado de máquina na explicabilidade do processo legislativo. Esse novo patamar de excelência e acurácia nos permitiu avançar para um produto ainda mais robusto e consistente. Assim, em novembro daquele ano, surgiu o Parlametria, lançado em parceria com a Open Knowledge Brasil.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          O Parlametria é um divisor de águas na nossa história, ao potencializar, em sua estrutura, as mais sólidas virtudes que nos sustentam: inovação, simplificação, transparência e cidadania ativa. Além disso, induziu desdobramentos importantes, como o Congresso Remoto - elaborado em colaboração com o Observatório do Legislativo (OLB) e a consultoria Pulso Público.
        </p>
        <p>
          Recentemente, juntamo-nos ao LIA - Laboratório de Inteligência Artificial (UFMG) e a Kunumi, uma das mais destacadas empresas brasileiras a atuar nas áreas de inteligência artificial e redes neurais. Essa parceria aponta para uma ampliação de horizontes, ao refinar nossos atributos tecnológicos na construção de modelos preditivos, bem como permitir o desenvolvimento e o lançamento de novos produtos e serviços.
        </p>
        <p>
          Nós da Dado Capital temos o compromisso de decifrar e revelar as entrelinhas do Legislativo e os posicionamentos dos atores políticos, oferecendo conhecimento e ampliando o alcance do que hoje está restrito aos corredores do Congresso Nacional.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="time"
  class="sessao">
  <div class="container">
    <h2 class="titulo text-center">O time</h2>
    <hr class="hr-titulo">
    <div class="row text-info">
      <div class="col-md-6">
        <p>
          A equipe é multidisciplinar. Reúne empreendedores, executivos experientes e especialistas das áreas de Relações Governamentais, Direito, Comunicação e Design, além de profissionais de Tecnologia da Informação e Ciências da Computação.
        </p>
        <p>
          Acreditamos na parceria com a Academia e, desde a fundação, atuamos em cooperação com as universidades federais de Campina Grande (UFCG) e Minas Gerais (UFMG).
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="assets/img/time.svg"
          alt="O time">
      </div>
    </div>
  </div>
</section>

<section
  id="contato"
  class="sessao sessao-b">
  <div class="container">
    <h2 class="titulo text-center">Contato</h2>
    <hr class="hr-titulo">
    <div class="destaque text-center text-break">
      Envie-nos um e-mail:
      <br>
      dadocapital@dadocapital.org.br
    </div>
  </div>
</section>

<section
  id="parceiros"
  class="sessao">
  <div class="container">
    <h3 class="text-center">Parceiros e investidores</h3>
    <div class="row">
      <div class="col text-center">
        <img
          src="assets/img/logo-kunumi.png"
          alt="Kunumi">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-startup-farm.png"
          alt="Startup Farm">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-dinamo.png"
          alt="Dinamo">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-avina.png"
          alt="Funcaión Avina">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-laudes.png"
          alt="Laudes Foundation">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-ufmg.png"
          alt="UFMG">
      </div>
      <div class="col text-center">
        <img
          src="assets/img/logo-ufcg.png"
          alt="UFCG">
      </div>
    </div>
  </div>
</section>

<footer>
  Dado Capital | 2018 - 2021
</footer>
