<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a
      routerLink="/inicio"
      class="navbar-brand">
      <img
        src="assets/img/dado-capital-logo.png"
        alt="Dado Capital"
        width="130"
        height="47">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/inicio"
            routerLinkActive="active"
            class="nav-link"
            [attr.aria-current]="(rla.isActive) ? 'page' : null"
            #rla="routerLinkActive">
            Início
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/produtos"
            routerLinkActive="active"
            class="nav-link"
            [attr.aria-current]="(rlb.isActive) ? 'page' : null"
            #rlb="routerLinkActive">
            Produtos
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/sobre"
            routerLinkActive="active"
            class="nav-link"
            [attr.aria-current]="(rlc.isActive) ? 'page' : null"
            #rlc="routerLinkActive">
            Sobre
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/contato"
            routerLinkActive="active"
            class="nav-link"
            [attr.aria-current]="(rld.isActive) ? 'page' : null"
            #rld="routerLinkActive">
            Contato
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
