@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 75rem;
  padding-top: 73px;
}

h1,h2,h3,h4,h6 {
  text-transform: uppercase;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $blue;
  color: $gray-500;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.nav-link {
  text-transform: uppercase;
}

.sessao-b {
  background-color: $gray-100;
}

.card-titulo {
  text-transform: uppercase;
}
